@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.header-top img{
    height: 60px;
    padding-right: 20px;
    border-right: lightgrey solid 1px;
    
}
.header-top nav ul li{
    color: rgb(71, 70, 70);
    font-size: 10px;
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
    text-transform: uppercase;
    margin: 20px 0;
}

nav ul li a{
    text-decoration: none;
}

.header.bottom{
    height: 500px;
    border-radius: 7px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position:center;  
    overflow: hidden; 
    position: relative; 
}

.header-text{
    color: white;
    width: 55%;
    padding-left: 50px;
    position: absolute;
    bottom: 66px;
}

#header-text1{
    font-size: 31px;
}

#header-text2{
    font-size: 17px;
}

.layover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0 , 0.3);
}

main{
    margin: 20px 0 10px 0;
}


main::after{
    content: "";
    display: table;
    clear: both;
}


.section.up{
    margin-bottom:15px ;
}

.section.up img{
    width: 100%;
}

.section.left, .section.center, section.right{
    position: relative;
    border-radius: 5px;
}

.img-container{
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

}

.section.left img, 
.section.center img{
    width: 100%;
    margin: auto;
    position: absolute;
    top:0:
}

main .layover-img1{
    width: 100%;
    height: 200px;
    position: absolute;
    top:0;
    background-color: rgba(0, 0 ,0 , 0.3);
}


.section.left,
.section.center,
.section.right{
    float: left;
    margin-bottom: 15px;
}

.section.left, .section.right{
    width: 18% ;
}

.section.center{
    width: 58%;
    margin: 0 3%;
}

footer{
    height: 90px;
    background-color: blueviolet;
}

